@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.header{
    background: black;
    height: 70px;
}
.header-county{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-name{
    font-size: 28px;
    font-weight: bold;
    margin-left: 35px;
    color:white;
    line-height: 70px;
}
.content ul{
    display: flex;
}
.content li{
    margin-right: 35px;
    font-size: 16px;
}
.content a{
    color: white;
    text-decoration: none;
}
.Title{
    height: 600px;
    background-image: url(./img/eyecatch.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

}
.title{
    font-size: 45px;
    font-style: italic;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 10%;
}
.news{
    width: 50%;
    height: 60px;
    background: white;
    position: absolute;
    top: 540px;
    left: 50%;
}
.news-content{
    padding: 10px;
}
.misson{
    color: white;
    background: black;
    height: 400px;
}
.misson h2,
.misson p{
    font-weight: bold;
    padding: 15px;
    z-index: 2;
    
}
.misson h2{
    font-size: 28px;
    position: absolute;
    top: 750px;
    left: 100px;
    right: 0;
    bottom: 0;
    
}
.misson p{
    width: 970px;
    position: absolute;
    top: 800px;
    left: 100px;
    right: 0;
    bottom: 0;
    
}
.details1{
    padding: 10px 30px;
    font-size: 20px;
    text-decoration: none;
    background:white;
    color: #000;
    position: relative;
    top: 250px;
    left: 110px;
}
.orange{
    display: block;
    width: 40%;
    position: relative;
    top: 60px;
    left: 770px;
    z-index: 1;
}
.service{
    margin-top: 150px;
    background: rgb(209, 209, 209);
    width: 100%;
    height: 1300px;
}
.service h2{
    font-size: 34px;
    text-align: center;
    padding: 20px;
}
.camera{
    width: 50%;
    margin-left: 50%;
    z-index: 1;
}
.web-production{
    background: white;
    width: 700px;
    height: 230px;
    padding-top: 95px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: -380px;
    margin-left: 80px;
    position: relative;
    z-index: 2;
}
.web-production h3{
    margin-bottom: 20px;
}
.subtitle{
    margin-bottom: 20px;
}
.summary{
    margin-bottom: 40px;
}
.details2{
    padding: 10px 30px;
    font-size: 20px;
    text-decoration: none;
    background:white;
    color: #000;
    border: black 1px solid;
    margin-left: 450px;
}
.smoke{
    width: 50%;
    margin-top: 200px;
    z-index: 4;
}
.web-production2{
    background: white;
    width: 700px;
    height: 230px;
    margin-left: auto;
    margin-right: 80px;
    padding-top: 95px;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: -370px;
    position: relative;
    z-index: 3;
}
.web-production2 h3{
    margin-bottom: 20px;
}
.subtitle2{
    margin-bottom: 20px;
}
.summary2{
    margin-bottom: 40px;
}
.details3{
    padding: 10px 30px;
    font-size: 20px;
    text-decoration: none;
    background:white;
    color: #000;
    border: black 1px solid;
    margin-left: 450px;
}
.content2{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.company-profile{
    background:url(/Users/asoshinahisanori/coachtech/img/company.jpeg);
    background-size: cover;
    width: 47%;
    height: 220px;
    color: white;
    
}
.company-profile h3,
.company-profile p{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.company-profile h3{
    font-size: 34px;
}
.employment-information{
    background:url(/Users/asoshinahisanori/coachtech/img/recruit.jpg);
    background-size: cover;
    width: 47%;
    height: 220px;
    color: white;
}
.employment-information h3,
.employment-information p{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.employment-information h3{
    font-size: 34px;
}
.FAQ{
    margin-top: 150px;
    width: 80%;
    height: 90px;
    background: black;
    color: white;
    margin-left: 10%;
    display: flex;
    align-items: center;
}
.FAQ h3{
    font-size: 34px;
    margin-left: 30px;
}
.FAQ a{
    color: white;
    text-decoration: none;
    margin-left: 35%;
}
.contact{
    background: url(/Users/asoshinahisanori/coachtech/img/contact-bg.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: 150px;
    color: white;
}
.contact h3{
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.subtitle3{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.summary3{
    font-size: 37px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.details4{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contact a{
    padding: 10px 30px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    background-color: unset;
    color: white;
    border: white 1px solid;
    display: flex;
    margin-left: 620px;
    margin-right: 610px;
    margin-top: 20px;
}
.footer{
    background: black;
    height: 70px;
}
.footer-county{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.company-name2{
    font-size: 28px;
    font-weight: bold;
    margin-left: 35px;
    color:white;
    line-height: 70px;
}
.content3 ul{
    display: flex;
}
.content3 li{
    margin-right: 35px;
    font-size: 16px;
}
.content3 a{
    color: white;
    text-decoration: none;
}
.last{
    display: flex;
    justify-content: center;
    color: white;
    background: black;
}